.booking__back {
  display: flex;
  align-items: center;
  gap: 10px;
}
.booking__back-desc {
  color: #0b4589;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: left;
}
.booking__catalog {
  max-width: 1760px;
  width: 100%;
  background: #f2f5f9;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order {
  max-width: 1112px;
  width: 100%;
}
.order__title {
  color: #010101;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 40px;
}
.order__purchase-type {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 40px;
}
.order__radio {
  display: flex;
  align-items: center;
  /* Ссылка 2 */
  color: #000000;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: left;
}
.order__radio-input {
  margin-right: 12px;
  width: 20px;
  height: 20px;
}
.order__form {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.order__label {
  color: #000000;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 0px;
  text-align: left;
}
.order__textarea {
  width: 100%;
  resize: none;
  min-height: 100px;
  border: 1px solid #cedae7;
  border-radius: 15px;
  background: #ffffff;
  padding: 16px 20px;
}
.order__textarea:focus {
  outline: none;
  border-color: #007aff;
}
.order__textarea::placeholder {
  color: #a0a0a0;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: 0px;
  text-align: left;
}
.order-field {
  position: relative;
}
.order-field__input {
  width: 350px;
  padding: 16px 20px;
  box-sizing: border-box;
  border: 1px solid #cedae7;
  border-radius: 15px;
  background: #ffffff;
}
.order-field__input:focus {
  outline: none;
  border-color: #007aff;
}
.order-field__input:focus + .order-field__label,
.order-field__input:not(:placeholder-shown) + .order-field__label {
  top: 6px;
  font-size: 12px;
  color: #6c7a89;
}
.order-field__label {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 12px;
  color: #A0A0A0;
  pointer-events: none;
  transition: all 0.2s ease;
}
.order-field__select {
  width: 350px;
  padding: 16px 20px;
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('../../img/arrow.svg') no-repeat right 10px center;
  border: 1px solid #cedae7;
  border-radius: 15px;
  background-color: #ffffff;
  position: relative;
}
.order-field__select:focus {
  outline: none;
  border-color: #007aff;
}
.order-field__select:focus + .order-field__label,
.order-field__select:not(:placeholder-shown) + .order-field__label,
.order-field__select:not([value=""]) + .order-field__label {
  top: 6px;
  font-size: 12px;
  color: #9ca3af;
}
.add {
  color: #a0a0a0;
  font-family: Roboto;
  margin-top: -46px;
  font-size: 16px;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: 0px;
  text-align: left;
}
.cart__summary-before {
  position: relative;
  padding-left: 30px;
}
.cart__summary-before::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: #cedae7;
}
.dotted-booking {
  flex: 1;
  height: 2px;
  background-image: radial-gradient(#ccc 1px, #f2f5f9 2px);
  background-size: 6px 100%;
  background-repeat: repeat-x;
  margin: 0 2px;
  /* Отступы по бокам */
}
.title__booking {
  max-width: 836px;
  width: 100%;
}
.cart__item-number {
  color: #010101;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0px;
  text-align: left;
}
.content__booking {
  margin-left: 0;
  margin-right: 0;
}
